= render "projects/header", :project => @project, :tab => "rspec"

- if @project.rspec_url?
  %iframe#rspec-frame{:src => @project.rspec_url}
- else

  .alert-message.warning.fade.in{data("alert")}
    = link_to "×", "#", :class => "close"
    %p You haven't specified an RSpec URL yet

  = simple_form_for @project, :wrapper => :inline do |f|
    = f.input :rspec_url, :required => true
    = render "shared/actions", :f => f
