= render "projects/header", :project => @project, :tab => "errors"

#foobar{data(:chart, airbrake_project_chart_path(@project))}

%table.table.table-striped.errors
  %thead
    %tr
      %th Resolved
      %th Message
      %th Date
  %tbody
    - @airbrake_errors.each do |error|
      %tr
        %td.resolved= error.resolved
        %td.message
          .ellipsis= error.error_message
        %td.date= I18n.l error.occurred_at

= render "shared/pager", :collection => @airbrake_errors
