:javascript
  activateNavigation(#{project.to_param.inspect});

%h1.well
  = project.name
  %small= project.slug

%ul.tabs
  %li{active_when(tab == "overview")}= link_to "Overview", project
  %li{active_when(tab == "rspec")}=    link_to "RSpec",    project_rspec_path(project)
  %li{active_when(tab == "cucumber")}= link_to "Cucumber", project_cucumber_path(project)
  %li{active_when(tab == "coverage")}= link_to "Coverage", project
  %li{active_when(tab == "commits")}=  link_to "Commits",  project
  %li{active_when(tab == "errors")}=   link_to "Errors",   project
  %li{active_when(tab == "builds")}=   link_to "Builds",   project
  %li{active_when(tab == "stats")}=    link_to "Builds",   project
  %li{active_when(tab == "tracker")}=  link_to "Tracker",  project
