= render "header", :project => @project, :tab => "edit"

= simple_form_for @project do |f|

  %legend Basic
  = f.input :name

  %legend iFrames Galore!
  %ul.iframes
    - @project.iframes.list.each do |iframe|
      %li
        = link_to iframe.name, [ :edit, @project, iframe ]
        (#{iframe.url.truncate(100)})
    %li.new= link_to "new iframe", new_project_iframe_path(@project)

  %legend Airbrake
  = f.input :airbrake_project_id, :collection => Airbrake::Project.list

  %legend Pivotal Tracker
  = f.input :pivotal_tracker_project_id, :collection => PivotalTracker::Project.list

  = render "shared/actions", :f => f

.well
  = link_to "Delete Project", project_path(@project), :method => :delete, :class => "btn danger", :confirm => "Damn, girl! Are you sure?"
