= render "projects/header", :project => @project, :tab => "cucumber"

- if @project.cucumber_url?
  %iframe#cucumber-frame{:src => @project.cucumber_url}
- else

  .alert-message.warning.fade.in{:data => { :alert => "alert" } }
    = link_to "×", "#", :class => "close"
    %p You haven't specified a Cucumber URL yet

  = simple_form_for @project, :wrapper => :inline do |f|
    = f.input :cucumber_url, :required => true
    = render "shared/actions", :f => f
